<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<nav th:replace="fragments :: nav"></nav>
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <div class="alert alert-success" role="alert" th:unless="${msgSucesso == null}">
                <span th:text="${msgSucesso}"></span>
            </div>
            <div class="alert alert-danger" role="alert" th:unless="${msgErro == null}">
                <span th:text="${msgErro}"></span>
            </div>
            <form th:object="${usuario}" th:action="@{/login}" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" th:placeholder="Email"
                           class="form-control" autofocus />
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" th:placeholder="Senha"
                           id="senha" name="senha" class="form-control"/>
                </div>
                <div align="center" th:if="${param?.error}">
                    <div class="alert alert-danger" role="alert">
                        Usuário não encontrado
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
            <div class="text-center">
                <span class="d-block small mt-3">
                    Sistema Gerenciador de Cliente e Funcionário - <a target="_blank" href="http://fontejr.com.br">Fonte Jr</a>
                    <!-- <a th:href="@{'~/cliente/add'}">Cliente</a> ou <a th:href="@{'~/funcionario/add'}">Funcionario</a>-->
                </span>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: div"></div>
</body>

</html>